<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Appseconnect_CompanyDivision" setup_version="0.0.3" schema_version="0.0.3">
        <sequence>
            <module name="Appseconnect_B2BMage"/>
        </sequence>
    </module>
</config>
