<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="catalogproduct" translate="label" sortOrder="10">
            <label>Catalog Product Configuration</label>
        </tab>
        <section id="catalog_product_visibility" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Catalog Visibility</label>
            <tab>catalogproduct</tab>
            <resource>Appseconnect_DisableCategoryProduct::config_catalogvisibility</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable_catalog_product_visibility" translate="label" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Disable Catalog Product Visibility ?</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>