
<!--@subject {{trans "Confirmation: Your Service Request %service_number has been completed" service_number=$service_number}}  @-->


{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "Dear %customer_name" customer_name=$customer_name}},</p><br/>
<p>{{trans "We are pleased to advise that your Service Request has now been completed. Your device will be returned to your nominated address."}}

<p><br/></p>
<p>{{trans "Yours sincerely,"}}</p>
<p><br/></p>

<p>{{trans "The Service Team"}}
    <br/>
    <a href="mailto:repairs@easyconnect.com">repairs@easyconnect.com</a></p>
<br/>

{{template config_path="design/email/footer_template"}}
